.color-red{ color: red;}
.color-green{color: green;}
.color-green ul li a {color: purple;}
#link-home{color:aquamarine;}



main h3.title {
    font-size: 1.2em;
    
}

main section abbr {
    color: #25cbd3;
}

.cover-container figure img{
    width: 100%;
}

@media screen and (min-width: 992px) {
    .cover-container{
        width: 40%;
    }
    .cover-container,
    .section-video {
        display: inline-block;
    }
    main .section-azure blockquote{
        width: 70%;
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
    }
}

